.form {
    margin: 20px;
}

.container {
    right: 50%;
    transform: translate(20%, 25%);
    width: 70%;
}
h1 {
    text-align: center;
}

.mat-form-field {
    width: 100%;
}

.mat-table {
    width: 100%;
}